@import url(https://fonts.googleapis.com/css?family=Oswald:700);
body{
  margin-bottom: 60px;
}
.headerLogo{
  width: 200px;
}

.gaDisplayFont{
  font-family: 'Oswald', sans-serif;
  color: white!important;
  text-transform: uppercase;
  font-size: large;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.gaLogo{
  display: inline-block;
  background-image: url('../images/GA_gear.png');
  background-position: 0 0;
  background-size: contain;
  height:25px;
  width: 25px;
  background-repeat: no-repeat;
  position:relative;
  top:6px;
}
.navbar-right, .navbar-last{
  margin-right: 10em;
}
.githubBanner{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.glyphicon-pencil{
  padding-right: 5px!important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f5f5f5;
}
